<% if logged_in? %>
	<div class="row">
		<div class="row">
			<aside class="col-md-4">
				<section class="user_info">
					<%= render 'shared/user_info' %>
				</section>
				<section class="micropost_form">
					<%= render 'shared/micropost_form' %>
				</section>
			</aside>
			<div class="col-md-8">
				<blockquote><h4>MICROPOST FEED</h4></blockquote>
				<%= render 'shared/feed' %>
			</div>
		</div>
	</div>
<% else %>
	<div id="index-banner" class="parallax-container">
	    <div class="section no-pad-bot">
	      <div class="container">
	        <br><br>
	        <strong><h1 class="header center white-text text-lighten-2">ASTRONUT</h1></strong>
	        <div class="row center">
	          <h5 class="header col s12 light white-text">Where blogging takes you to a whole other galaxy</h5>
	        </div>
	        <div class="row center">
	          <a href="<%= login_path %>" class="btn-large waves-effect waves-light teal lighten-1">Start blogging</a>
	        </div>
	        <br><br>
	      </div>
	    </div>
	    <%= image_tag "parallel.png", class: "parallax" %>
	  </div>


	  <div class="container">
	    <div class="section">
	      <!--   Icon Section   -->
	      <div class="row">
	        <div class="col s12 m4">
	          <div class="icon-block">
	            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
	            <h5 class="center">Allows easy customization</h5>
	            <p class="light">From account creation to changing your image and profile, Astronut has your back. You can easily integrate your changes and save them without any hassle.</p>
	          </div>
	        </div>

	        <div class="col s12 m4">
	          <div class="icon-block">
	            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
	            <h5 class="center">Provides follow and unfollow feature</h5>
	            <p class="light">Track users you like and connect with them through the follow feature. See and share content from users all over the galaxy.</p>
	          </div>
	        </div>

	        <div class="col s12 m4">
	          <div class="icon-block">
	            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
	            <h5 class="center">Shows you the future</h5>
	            <p class="light">What more can you ask for, really? Astronut defines what the future of blogging will be. What are you waiting for? Blog and change your life forever.</p>
	          </div>
	        </div>
	      </div>

	    </div>
	  </div>


	  <div class="parallax-container valign-wrapper center-align" id="parallax-two">
	    <div class="section no-pad-bot">
	      <div class="container">
	        <div class="row center">
	          <h5 class="header col s12 light white-text">Connect with peers</h5>
			  <h5 class="header col s12 light white-text">Share your thoughts</h5>
			  <h5 class="header col s12 light white-text">Discover new possibilities</h5>
	        </div>
	      </div>
	    </div>
	    <%= image_tag "space.gif", class: "img" %>
	  </div>

<% end %>
