<% provide(:title, @user.name) %>
<div class="row">
	<aside class="col s4">
		<div class="card blue-grey darken-1" id="user-card">
			<div class="card-image">
              <%= gravatar_for @user %>
            </div>
            <div class="card-content white-text">
              <span class="card-title center-align"><%= @user.name %></span>
            </div>
            <div class="card-action">
              <%= render 'shared/stats' %>
            </div>
        </div>
	</aside>
	<div class="col-md-8">
		<%= render 'follow_form' if logged_in? %>
		<% if @user.microposts.any? %>
		<blockquote><h4>MICROPOST FEED (<%= @user.microposts.count %>)</h4></blockquote>
		<ol class="microposts">
			<%= render @microposts %>
		</ol>
		<%= will_paginate @microposts %>
		<% end %>
	</div>
</div>
