<% provide(:title, @title) %>
<div class="row">
    <aside class="col-md-4">
        <div class="card blue-grey darken-1" id="user-card">
			<div class="card-image">
              <%= gravatar_for @user %>
            </div>
            <div class="card-content white-text center-align">
              <span class="card-title"><%= @user.name %></span>
              <span><b>Microposts:</b> <%= @user.microposts.count %></span>
		  	  </br></br>
			  <span><%= link_to "VIEW PROFILE", @user %></span>
            </div>
            <div class="card-action center-align">
                <%= render 'shared/stats' %>
            </div>
        </div>
        </br>
        <div class="col s1"></div>
        <div class="col s10">
            <% if @users.any? %>
                <div class="user_avatars">
                    <% @users.each do |user| %>
                        <%= link_to gravatar_for(user, size: 30), user %>
                    <% end %>
                </div>
            <% end %>
        </div>
    </aside>
    <div class="col-md-8">
        <blockquote><h4><%= @title %></h4></blockquote>
        <% if @users.any? %>
            <ul class="users follow">
                <%= render @users %>
            </ul>
            <div class="center-align">
                <%= will_paginate %>
            </div>
        <% end %>
    </div>
</div>
