<header>
    <nav class="teal" role="navigation" id="main-navbar">
        <div class="nav-wrapper container">
          <a id="logo-container" href="/" class="brand-logo">Astronut</a>
          <ul class="right hide-on-med-and-down">
            <% if logged_in? %>
                <li><a href="<%= users_path %>">Users</a></li>
                <li><%= link_to "Profile", current_user %></li>
                <li><a href="<%= edit_user_path(current_user) %>">Settings</a></li>
                <li><%= link_to "Log out", logout_path, method: "delete" %></li>
            <% else %>
                <li><a href="<%= root_path %>">Home</a></li>
                <li><a href="<%= login_path %>">Log in</a></li>
                <li><a href="signup">Sign Up</a></li>
            <% end %>
          </ul>
        </div>
    </nav>
</header>
